{
  "plugins": [
    "transform-inline-environment-variables",
    [
      "env-checker",
      {
        "fileConstraints": [
          {
            "file": "src/index.js",
            "constraints": [
              {
                "selector":
                  "// ExportNamedDeclaration/VariableDeclaration/VariableDeclarator [ /:id Identifier [ @name == 'API_ENV' ] && /:init StringLiteral [ @value ] ]",
                "value": { "type": "enum", "values": ["prod", "sim", "dev"] }
              },
              {
                "selector":
                  "// ExportNamedDeclaration/VariableDeclaration/VariableDeclarator [ /:id Identifier [ @name == 'FOO' ] && /:init StringLiteral [ @value ] ]",
                "value": { "type": "literal", "value": "BAR" }
              },
              {
                "selector":
                  "// ExportNamedDeclaration/VariableDeclaration/VariableDeclarator [ /:id Identifier [ @name == 'ANUM' ] && /:init NumericLiteral [ @value ] ]",
                "value": { "type": "literal", "value": 123 }
              }
            ]
          }
        ]
      }
    ]
  ]
}
